* {
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}



/* HEADER styling start */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    row-gap: 15px;
    background-color: darkorchid;
}

.header > * {
    /* padding: 10px; */
    background-color: inherit;
}

.my-name {
    font-size: 250%;
    /* margin-bottom: 15px; */
}

.contact-details {
    list-style: none;
    font-size: .8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 12px;
}

.header > .contact-details > li {
    background-color: inherit;
}

.header > ul > li > a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

/* HEADER styling end */



.column {
    padding: 10px;
}

.column > div {
    background-color: inherit;
}

.column > div:first-of-type {
    border-bottom: 3px solid black;
    margin-top: 10px;
}



/* start LEFT COLUMN styling */

.column-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: yellowgreen;
}

.column-left > div > h3 {
    background-color: inherit;
    margin-bottom: 5px;
}

.exp-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: inherit;
}

.exp-list > div {
    background-color: inherit;
    margin-top: 20px;
}

.exp-list > div > h6, span {
    background-color: inherit;
}

/* end LEFT COLUMN styling */



/* start RIGHT COLUMN styling */

.column-right {
    display: flex;
    flex-direction: column;
    /* flex: 1 0 50% */
    flex: 1 0 auto;
    background-color: crimson;
}

.column-right > div > h3 {
    background-color: inherit;
    margin-bottom: 5px;
}

.edu-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: inherit;
}

.edu-list > div {
    background-color: inherit;  
    margin-top: 20px;
}

.edu-list > div > h6, span {
    background-color: inherit;
}

/* end RIGHT COLUMN styling */



/* mobile first, responsive design */

@media all and (min-width: 600px) {
    .column { flex: 1 0 0; 
    height: 100vh;
    }
  }